/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Google Font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
}

/* Search  */
.search-container .search {
  font-weight: bold;
  color: #30384d;
  border-bottom: 2px solid #30384d;
  padding: 12px 20px;
}

/* Search Field */
.search-field {
  border: 1px solid gray;
  padding: 0.8px;
  border-radius: 5px;
  margin: 10px 20px;

}

form {
  display: flex;
  background-color: rgb(234, 234, 234);
}

form input {
  background: transparent;
  border: 0px;
  outline: 0px;
  width: 300px;
  font-size: 0.8em;
  color: #30384d;
}

form .icon {
  padding: 5px;
}

form::placeholder {
  color: #7e8a9a;
}

/* food-gallery */
.product-container {
  background-color: rgb(234, 234, 234);
  padding: 10px 20px;
}

.product-container .section-head {
  font-size: 1.2em;
  font-weight: bold;
  color: #30384d;
}

.food-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}


/* Product Item  */
.food-items img {
  max-width:100%;
  height:auto;
}

.food-items .item-name {
  font-weight: 700;
  font-size: 0.85em;
  color: #30384d;
}

.food-items .item-desc {
  font-weight: 500;
  font-size: 0.7em;
  color: #7e8a9a;
}
